.a-container{
    border-radius: 10px;
    width:200px;
    height:75px;
    background-color: lawngreen;
    font-size:30px;
    color: black;
    margin-top: 300px;
    margin-left: 40%;
}
.b-container{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    overflow: hidden;
    top:0;
}
.b-container .pop-upContent{
    margin:300px auto;
    width:500px;
    height: 300px;
    padding:10px;
    background-color: skyblue;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
form > *, input, textarea{
    margin-left: 110px;
}
#check{
    margin-left: 0;
}
#send{
    width: 50%;
    height: 20%;
    margin: 20px 0 0 110px;
}